/* Content */

#contentWrapper {
  height: 100%;
}

#content {
  height: 100%;
  margin-left: 220px;
  background: linear-gradient(to bottom, $peach 0%, #ffe6eb 100%);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 106px 40px 40px 40px;
  box-sizing: border-box;
    
    
    .new-posts {
        border-bottom: 1px solid #F95074;
        color: #F95074;
        font-size: 11px;
        font-weight: 600;
        line-height: 0.1em;
        margin-bottom: 40px;
        text-align: right;
        text-transform: uppercase;
        opacity: 0.5;
        
        span {
            background: #fff;
            padding-left: 10px;  
        }
    }
    
    .post {
        background: white;
        padding: 40px;
        border: 2px solid $dark-peach;
        border-radius: 8px;
        width: 400px;
        
        
        &:not(:last-child) {
            margin: 0 0 40px 0;  
        }
        
        .fragment {
          
            &:not(:last-child) {
                margin: 0 0 20px 0;
            }
            
            .text {
                font-size: 22px;
                
                a {
                    color: #0084FF;
                    
                    &:hover {
                        text-decoration: underline;   
                    }
                }
            }
        }
        
        .footer {
            font-size: 13px;
            color: #999;
            
            a {
                color: #999; 
                
                &:hover {
                    text-decoration: underline;   
                }
            }
            
            .like {
                a {
                    position: relative;
                    padding-left: 20px;
                    
                    .icon {
                        background-image: url(img/like@2x.png);
                        background-size: 16px 16px;
                        height: 16px;
                        width: 16px;
                        display: inline-block;
                        position: absolute;
                        margin-left: -20px;
                        margin-top: -1px;
                        opacity: 0.5;
                    }
                 }
                }
            
            
            .liked {
                a {
                    color: #F95074;
                    
                    .icon {
                     background-image: url(img/liked@2x.png);
                     background-size: 16px 16px;
                     height: 16px;
                     width: 16px;
                     display: inline-block;
                     position: absolute;
                     margin-left: -20px;
                     margin-top: -1px;
                     opacity: 1;
                    }
                }   
            }
            
            .comment {
                a {
                    position: relative;
                    padding-left: 25px;
                    
                    .icon {
                        background-image: url(img/comments@2x.png);
                        background-size: 16px 16px;
                        height: 16px;
                        width: 16px;
                        display: inline-block;
                        position: absolute;
                        margin-left: -20px;
                        opacity: 0.5;
                    }
                }
            }
            
            .commented {
                a {
                    .icon {
                        background-image: url(img/commented@2x.png);
                        background-size: 16px 16px;
                        height: 16px;
                        width: 16px;
                        display: inline-block;
                        position: absolute;
                        margin-left: -20px;
                        opacity: 1;
                    }
                }
            }
            
            div {
                display: inline-block;
                margin-right: 10px;
                
                .delete {
                    display: none;
                    margin-left: 10px;
                    float: right; 
                    
                    a {
                        color: rgba(255, 0, 0, 0.5);   
                    }
                }
            }
        }
        
    }
 
}

.me {
    #content {
        padding-bottom: 100px;
        
        .post {
            &:hover {
                .footer {
                    div {
                        .delete {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

