/* Modal */

.modal, #drag {
  position: absolute;
  background: linear-gradient(to bottom, $peach 0%, #ffe6eb 100%);
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modal {
     .content {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 400px;
          height: 400px;
          margin-left: -200px;
          margin-top: -200px;
          background: #fff;
          border-radius: 8px;
          border: 2px solid rgba(0, 0, 0, 0.1);
          box-sizing: border-box;
          padding: 40px;
          text-align: center; 
         
         img {
            height: 100px;   
         }
         
         h2 {
            font-size: 22px;
            font-weight: 300;
            color: #333;
            margin: 0 0 20px 0;    
         }
         
         p {
            margin: 20px 0 20px 0;
            color: rgba(0,0,0,0.3);
            font-size: 13px; 
             
             a {
                 color: rgba(0,0,0,0.3);
                 font-weight: 600;
             }
             
         }
         
     }  
}

.modal.login {
            &.hidden {
                display: none;   
            }
    
            fieldset {
                border: none;
                height: 40px;
                margin: 0 0 20px 0;
                
                input {
                    outline: none;
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                    padding: 25px 10px;
                    font-size: 15px;
                    background: white;
                    border: $light-border;
                    border-radius: 8px;    
                }
            }
             
            button {
                outline: none;
                padding: 25px 10px;
                line-height: 0px;
                -webkit-appearance: none;
                border: none;
                border-radius: 8px;
                height: 40px;
                width: 100%;
                background: #FE4F72;
                font-size: 15px;
                font-weight: 600;
                color: #fff;
                transition: 0.35s;
                cursor: pointer; 
                
                &:hover {
                    background: #FE4F72;   
                }
            }
         }
 





