/* Sidebar */

#sidebar {
  display: block;
  height: 100%;
  float: left;
  width: 220px;
  background: #334;
    /* 334 */
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  box-sizing: border-box;
    
    .contact {
        list-style: none;
        
        a {
            display: block; 
            
            &:hover {
                background: #525260;    
            }
        }
        
        .name {
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            height: 24px;
            padding: 12px 10px 6px 5px;
            font-size: 13px;
            list-style-type: none;
            margin-left: 42px;
            margin-right: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            opacity: 0.5;  
            
            span {
                font-size: 11px;
                font-weight: 400;
                opacity: 0.5;    
            }
        }
    }
}



#sidebar .contact.selected a, #sidebar .contact.selected a:hover {
  background: #F95074;
}

#sidebar .contact.me {
  /*border-bottom: 2px solid rgba(0, 0, 0, 0.2);*/
  background: rgba(1, 1, 1, 0.1);
    
  .name {
    padding-top: 23px;
    padding-bottom: 18px;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    opacity: 1;
  }
}


#sidebar .contact.fresh .name {
  font-weight: 600;
  opacity: 0.8;
}

#sidebar .contact.selected .name {
  color: #fff;
}

#sidebar .contact .avatar {
  float: left;
  width: 30px;
  height: 30px;
  background-size: cover;
  border-radius: 18px;
  margin: 6px 6px 6px 12px;
}

#sidebar .contact.me .avatar {
  margin-top: 18px;
}