/* Variables */
/* Colours */

$grey: #f4f4f4;
$peach: #fff0e6;
$dark-peach: #ecdfd5;
$green: #25d87a;
$dark-green: #1ebd6a;
$pink: #ff829b;
$dark-pink: #eb748c;
$dark: #444444;

/* Borders */

$light-border: 2px solid #e0e0e0;
